<phpNet>
  <paths>
    <set name="DynamicWrappers" value="dynamic"/>
  </paths>
  <classLibrary>
    <add assembly="PhpNetClassLibrary, Version=4.0.0.0, Culture=neutral, PublicKeyToken=4af37afe3cde05fb" section="bcl" />
    <add assembly="PhpNetXmlDom, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="xmldom"/>
    <add assembly="PhpNetMsSql, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="mssql"/>
    <add assembly="PhpNetSQLite, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="sqlite"/>
    <add assembly="PhpNetZip, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="zip"/>
    <add assembly="PhpNetGd2, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="gd2" />
    <add assembly="PhpNetZlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="zlib" />
    <add assembly="PhpNetCurl, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="curl" />
    <add assembly="PhpNetXml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="xml" />
    <add assembly="PhpNetIconv, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="iconv" />
    <add assembly="PhpNetPDO, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="pdo" />
    <add assembly="PhpNetPDOSQLite, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="pdosqlite" />
    <add assembly="PhpNetPDOSQLServer, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="pdosqlsrv" />
    <add assembly="PhpNetMySql, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="mysql" />
    <add assembly="PhpNetPDOMySQL, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="pdomysql" />
  </classLibrary>
</phpNet>
