<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="phpNet" type="PHP.Core.ConfigurationSectionHandler, PhpNetCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" />
  </configSections>
  <system.web>
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="PhalangerHandler" path="*.php" verb="*" type="PHP.Core.RequestHandler, PhpNetCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.php"/>
      </files>
    </defaultDocument>
    <fastCgi>
      <application>
        <environmentVariables>
          <environmentVariable name="PHP_FCGI_MAX_REQUESTS" value="10000" />
          <environmentVariable name="APPLICATION_ENV" value="development" />
        </environmentVariables>
      </application>
    </fastCgi>
    <rewrite>
      <rules>
        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="^.*$" />
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_FILENAME}"
                 matchType="IsFile" pattern=""
                 ignoreCase="false" />
            <add input="{REQUEST_FILENAME}"
                 matchType="IsDirectory"
                 pattern=""
                 ignoreCase="false" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="Imported Rule 2" stopProcessing="true">
          <match url="^.*$" />
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler
         language="PHP"
         extension=".php"
         type="PHP.Core.CodeDom.PhpCodeProvider, PhpNetCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71"
         compilerOptions="" />
    </compilers>
  </system.codedom>
  <phpNet configSource="phalanger.config"/>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="phalanger"/>
      <dependentAssembly>
        <assemblyIdentity name="PhpNetCore" publicKeyToken="0a8e8c4c76728c71" culture="neutral" />
        <bindingRedirect oldVersion="3.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PhpNetClassLibrary" publicKeyToken="4af37afe3cde05fb" culture="neutral" />
        <bindingRedirect oldVersion="3.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PhpNetPDO" publicKeyToken="2771987119c16a03" culture="neutral" />
        <bindingRedirect oldVersion="3.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
